<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aptitude.shivam.aptitude">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="Psychool"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".InterestResult"></activity>
        <activity android:name=".InterestTestLayout" />
        <activity android:name=".PersonalityMain" />
        <activity android:name=".Subtopics_Result" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".Subtopics_Main" />
        <activity android:name=".GradResults" />
        <activity android:name=".Account" />
        <activity android:name=".GradAptitudeMain" />
        <activity android:name=".GradTestLayout" />
        <activity android:name=".AR_Instructions" />
        <activity android:name=".SA_Instructions" />
        <activity android:name=".GradMainActivity" />
        <activity android:name=".TestChecklist" />
        <activity android:name=".About" />
        <activity android:name=".ARandSATest" />
        <activity android:name=".AptitudeResult" />
        <activity android:name=".StartInstructions" />
        <activity android:name=".AptitudeQuizLayout" />
        <activity android:name=".AptitudeMain" />
        <activity android:name=".Results" />
        <activity android:name=".Login" />
        <activity android:name=".Signup" />
        <activity android:name=".OceanResult" />
        <activity android:name=".Quiz_layout" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>